<!--<footer class="footer">
    <div class="container">
        <div class="text">
            <h3>FOOTER</h3>
        </div>
    </div>
</footer>-->

<hr class="border border-dark">
<div class="container-fluid mt-3 footer-lg">

 <div class="row">

  <div class="col-4">

    <div class="text-center"><p><i class="fas fa-phone">054-5406906</i></p></div>

    <div class="text-center"><a class="text-dark" href="#"><p class="fas">אנחנו באינסטגרם</p></a><i class="fa fa-camera-retro"></i></div>

    <div class="text-center"><a class="text-dark" href="#"><p class="fas">אנחנו בפייסבוק</p></a><i class="fab fa-facebook"></i></div>

  </div>

  <div class="col-4">

   <div class="text-center"><p class="fas">תל אביב יפו, העלייה 58</p></div>

   <div class="text-center"><p class="fas">א-ה: 9:00-21:00</p></div>

   <div class="text-center"><p class="fas">ו: 9:00-15:00</p></div>

  </div>

  <div class="col-2">

   <ul>

    	<li class="text-center"><a class="text-dark" href="#">דף הבית</a></li>
   	<li class="text-center"><a class="text-dark" href="#">מבצעים</a></li>
	<li class="text-center"><a class="text-dark" href="#">חנות</a></li>

   </ul>

  </div>

 </div>
</div>

<div class="container-fluid mt-3 footer-sm">
 <div class="row">

  <div class="col-12 text-center">

   <p><i class="fas fa-phone">054-5406906</i></p>

  </div>

	<div class="col-12 text-center">

   <a class="text-dark" href="#"><p class="fas">אנחנו באינסטגרם</p></a><i class="fa fa-camera-retro"></i>

  </div>

  <div class="col-12 text-center">

   <a class="text-dark" href="#"><p class="fas">אנחנו בפייסבוק</p></a><i class="fab fa-facebook"></i>

  </div>

  <div class="col-12 text-center">

   <p class="fas">חיפה, מלך עוזיהו 4</p>

  </div>

  <div class="col-12 text-center">

   <p class="fas">א-ה: 9:00-18:00</p>

  </div>

  <div class="col-12 text-center">

   <p class="fas">ו: 9:00-15:00</p>

  </div>

 </div>
</div>
